@model Order
@{
    ViewData["Title"] = "OrderForm";
    Layout = "_Layout";
}



    <form asp-action="Save">
        <div class="form-group">
            <label asp-for="Date">Order Dates</label>
            <input asp-for="Date" type="text" class="form-control">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


